
body
{

margin: 0;

}
  #NAVBAR{

    display: flex;
    align-items: center;
    justify-content: center;
  

  }
  nav {
    float: left;
    background-color: rgb(255, 255, 255);
    width: 100%;
   margin: 0 ;
   

  }
  
  nav ul {
    list-style: none;
    overflow: hidden; 
   margin-top: 10px;
  }
  
  nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
   
  }
  nav ul li a {
    display: block;
    padding: 10px;
    color:rgb(81, 79, 77);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }

  nav ul li:hover {
    background: rgb(100,204,204);
  }
  #Ingreso_Nav:hover{

background: rgba();

  }
#Logo_a{

width: 60px;
height: 60px;

  }
#Logo_a{
    background-color: rgb(255, 255, 255)
}
#Logo_Insta{
width:40px;
height: 40px;
background-color: rgb(255, 255, 255)

}
.push{

margin-left: 650px;

}
 
  @import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
  body {
    font-family: "Lato";
    color: #d6f9dd;
    margin-left:auto;
	margin-right:auto;
  }
  
  * {
    
    box-sizing: border-box;
  }
  
  img {
    max-width: 100%;
  }
  
  .caption {
    position: absolute;
    top: 50%;
    left: 8rem;
    z-index: 9;
    transform: translateY(-50%);
    opacity: 0;
    transition: 500ms ease opacity, 500ms ease transform;
    transform: translateY(60px);
  }
  
  .container {
    width: 100%;
    height: 100vh;
    background-color: rgb(131,163,179);
    display: flex;
    position: relative;
    margin-left:auto;
	margin-right:auto;
  }
  
  .left-col, .right-col {
    width: 100%;
    box-sizing: border-box;
    height: calc(100% - 4rem);
    overflow: hidden;
  }
  
  .left-col {
    background-size: cover;
background-position: center top;
    overflow: hidden;
    margin: 2rem;
    position: relative;
  }
  .left-col .slide {
   
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: left top !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 1000ms cubic-bezier(1, 0.04, 0.355, 1) transform, 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55) clip-path;
    transform: translateY(-100%);
    scale: 1;
    z-index: -1;
  }
  .left-col .slide.previous {
    z-index: 1;
    opacity: 1;
    transform: translateY(0);
    animation-delay: 1s;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    transition: 3s ease transform;
    will-change: transform;
  }
  .left-col .slide.previous.change {
    transform: translateY(50%);
  }
  .left-col .slide.next {
    transform: translateY(-100%);
    z-index: 3;
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  }
  .left-col .slide.current {
    opacity: 1;
    transform: translateY(0) scale(1.25);
    z-index: 2;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  
  .right-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .right-col .preview {
    max-width: 400px;
  }
  
  .nav {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    overflow: hidden;
  }
  .nav a {
    color: #fafafa;
    font-size: 3rem;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  }
  .nav:hover .slide-up, .nav:hover .slide-down {
    opacity: 0.5;
    transform: translateX(0);
  }
  .nav .slide-up, .nav .slide-down {
    display: block;
    position: absolute;
    text-align: center;
    padding: 1rem;
    opacity: 0;
    transition: 0.25s ease opacity, 0.25s ease transform;
    z-index: 99;
  }
  .nav .slide-up:hover, .nav .slide-down:hover {
    opacity: 1;
  }
  .nav .slide-up a, .nav .slide-down a {
    text-decoration: none;
    font-weight: 300 !important;
  }
  .nav .slide-up {
    top: 50%;
    left: 0;
    transform: translateX(-100%);
  }
  .nav .slide-down {
    top: 50%;
    right: 0;
    transform: translateX(100%);
  }

  
  .Container_elementos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(100,204,204);
    margin-top: 60px;
   
  }
  #Titulo_Primero{
   color: rgb(81, 79, 77);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 30px;
  }

 #parrafo_introduccion{

margin-left: 20%;
margin-right: 20%;

 }
 #introduccion{

  color: rgb(81, 79, 77);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  margin-top: 20px;

 }
  #contendeor_textos{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(100,204,204);
margin-bottom: 60px;
  }

  #Contenedor_Parrafo1{
margin-left: 20%;
margin-right: 5%;
 
}
 
  #Contenedor_Parrafo2{
    margin-left: 5%;
    margin-right: 20%;
    
  }


     #Parrafo_Primero{
   color: rgb(81, 79, 77);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  margin-top: 30px;
  }
  .Container_elementos_2{
   
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(216,231,234);
 
   
  }
#imagen_Odontologo{
height: 30vw;
width: 30vw;

}
#Contenedor_Parrafo3{

margin-left: 10%;
margin-right: 10%;

}

#parrafo_imagen{
  color: rgb(81, 79, 77);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  margin-top: 30px;


}


/* Panels. */
.splitview {
  position: relative;
  width: 100%;
  min-height: 45vw;
  overflow: hidden;
}

.panel {
  position: absolute;
  width: 100vw;
  min-height: 45vw;
  overflow: hidden;
}

  .panel .content {
      position: absolute;
      width: 100vw;
      min-height: 45vw;
      color: #FFF;
  }

  .panel .description {
      width: 25%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
  }

  .panel img {
      box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
      width: 35%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }


.bottom {
  background-color: rgb(44, 44, 44);
  z-index: 1;
}

  .bottom .description {
      right: 5%;
  }

.top {
  background-color: rgb(77, 69, 173);
  z-index: 2;
  width: 50vw;

  /*-webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);*/
}

  .top .description {
      left: 5%;
  }

/* Handle. */
.handle {
  height: 100%;
  position: absolute;
  display: block;
  background-color: rgb(253, 171, 0);
  width: 5px;
  top: 0;
  left: 50%;
  z-index: 3;
}

/* Skewed. */
.skewed .handle {
  top: 50%;
  transform: rotate(30deg) translateY(-50%);
  height: 200%;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
}

.skewed .top {
  transform: skew(-30deg);
  margin-left: -1000px;
  width: calc(50vw + 1000px);
}

.skewed .top .content {
  transform: skew(30deg);
  margin-left: 1000px;
}

/* Responsive. */
@media (max-width: 900px) {
  body {
      font-size: 75%;
  }
}






  
